* {
  font-family: Kumbh Sans;
  font-weight: 700;
}
body {
  margin: auto;
  margin-top: 80px;
  background-color: hsl(185, 75%, 39%) !important;
  height: 80vh;
  display: flex;
  background:url('assets/bg-pattern-top.svg') -150px -400px no-repeat, url('assets/bg-pattern-bottom.svg') 820px 400px no-repeat;
width: auto;
}
.container {
  margin: auto;
  background-color: white;
  width: 350px;
  border-radius: 15px;
  height: 350px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2),
    0 16px 25px 0 rgba(0, 0, 0, 0.19);
}

.top-layer {
  background: url('assets/bg-pattern-card.svg');
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0px 0px;
  position: relative;
}
img {
  border: 5px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  left: 120px;
  top: 60px;
}
.user-address {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 75px;
  line-height: 5px;
}
.status-layer {
  display: flex;
  justify-content: space-around;
  line-height: 2px;
  margin-top: 0px;
  text-align: center;
  width: 100%;
}
hr {
  margin-top: 20px;
  color: #ffffff;
}
p {
  opacity: 0.5;
}

@media (max-width: 1281px) {
  body{
    background:url('assets/bg-pattern-top.svg') -400px -600px no-repeat, url('assets/bg-pattern-bottom.svg') 500px 400px no-repeat;
  }
  .container {
    width: 300px;
    height: 380px;
  }
  .top-layer {
    background: url('assets/bg-pattern-card.svg');
    height: 150px;
  }
  img {
    position: absolute;
    left: 100px;
    top: 100px;
  }
}

@media (max-width: 1025px) {
  body{
    background:url('assets/bg-pattern-top.svg') -450px -600px no-repeat, url('assets/bg-pattern-bottom.svg') 480px 300px no-repeat;
  }
  .container {
    width: 300px;
    height: 380px;
  }
  .top-layer {
    background: url('assets/bg-pattern-card.svg');
    height: 150px;
  }
  img {
    position: absolute;
    left: 100px;
    top: 100px;
  }
}

@media (max-width: 961px) {
  body{
    background:url('assets/bg-pattern-top.svg') -600px -600px no-repeat, url('assets/bg-pattern-bottom.svg') 280px 400px no-repeat;
  }
  .container {
    width: 300px;
    height: 380px;
  }
  .top-layer {
    background: url('assets/bg-pattern-card.svg');
    height: 150px;
  }
  img {
    position: absolute;
    left: 100px;
    top: 100px;
  }
}


@media  (max-width: 641px) {
  body{
    background:url('assets/bg-pattern-top.svg') -750px -550px no-repeat, url('assets/bg-pattern-bottom.svg') 180px 400px no-repeat;
  }
  .container {
    width: 300px;
    height: 380px;
  }
  .top-layer {
    background: url('assets/bg-pattern-card.svg');
    height: 150px;
  }
  img {
    position: absolute;
    left: 100px;
    top: 100px;
  }
}
@media (max-width:481px){
  body{
    
    background:url('assets/bg-pattern-top.svg') -750px -600px no-repeat, url('assets/bg-pattern-bottom.svg') 80px 400px no-repeat;
  }
  .container {
    width: 300px;
    height: 380px;
  }
  .top-layer {
    background: url('assets/bg-pattern-card.svg');
    height: 150px;
  }
  img {
    position: absolute;
    left: 100px;
    top: 100px;
  }
}