* {
  font-family: Kumbh Sans;
  font-weight: 700;
}
body {
  margin: auto;
  margin-top: 80px;
  background: hsl(185, 75%, 39%);
  height: 80vh;
  position: relative;
  display: flex;
  width: auto;
}
body::before {
  content: '';
  background: url('assets/bg-pattern-top.svg');
  background-repeat: no-repeat;
  background-position: 30px;
  height: 600px;
  width: 80%;
  border-radius: 50%;
  transform: rotate(-5deg);
  position: absolute;
  top: -16rem;
  right: 43rem;
  z-index: -1;
}
body::after {
  content: '';
  background: url('assets/bg-pattern-bottom.svg');
  background-repeat: no-repeat;
  background-size: 1000px;
  height: 450px;
  width: 43%;
  position: absolute;
  top:7rem;
  left: 48.6rem;
  z-index: -1;
}
.container {
  margin: auto;
  background-color: white;
  width: 350px;
  border-radius: 15px;
  height: 350px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2),
    0 16px 25px 0 rgba(0, 0, 0, 0.19);
}
.top-layer {
  background: url('assets/bg-pattern-card.svg');
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0px 0px;
  position: relative;
}
img {
  border: 5px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  left: 120px;
  top: 60px;
}
.user-address {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 75px;
  line-height: 5px;
}
.status-layer {
  display: flex;
  justify-content: space-around;
  line-height: 2px;
  margin-top: 0px;
  text-align: center;
  width: 100%;
}
hr {
  margin-top: 20px;
  color: #ffffff;
}
p {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  * {
    font-family: Kumbh Sans;
    font-weight: 400;
  }
  body::before {
    content: '';
    background: url('assets/bg-pattern-top.svg');
    background-repeat: no-repeat;
    background-position: 80px;
    background-size: 1000px;
    height: 60vh;
    width: 100%;
    position: absolute;
    right: 27rem;
    top: -6rem;
    border-radius:500px;
    transform:rotate(-5deg);
    z-index: -1;
  }
  body::after {
    content: '';
    background: url('assets/bg-pattern-bottom.svg');
    background-repeat: no-repeat;
    background-size: 800px;
    height: 363px;
    width: 40%;
    position: absolute;
    top:10.8rem;
    left:459px;
    z-index: -1;
  }
  .container {
    width: 300px;
    height: 380px;
  }
  .top-layer {
    background: url('assets/bg-pattern-card.svg');
    height: 150px;
  }
  img {
    position: absolute;
    left: 100px;
    top: 100px;
  }
}

@media (max-width:480px){
    * {
    font-family: Kumbh Sans;
    font-weight: 400;
  }
  body::before {
    content: '';
    background: url('assets/bg-pattern-top.svg');
    background-repeat: no-repeat;
    background-position: 80px;
    background-size: 1000px;
    height: 60vh;
    width: 100%;
    position: absolute;
    right: 18rem;
    top: -6rem;
    border-radius:500px;
    transform:rotate(-25deg);
    z-index: -1;
  }
  body::after {
    content: '';
    background: url('assets/bg-pattern-bottom.svg');
    background-repeat: no-repeat;
    background-size: 800px;
    height: 363px;
    width: 40%;
    position: absolute;
    top:8rem;
    left:288px;
    z-index: -1;
  }
  .container {
    width: 300px;
    height: 380px;
  }
  .top-layer {
    background: url('assets/bg-pattern-card.svg');
    height: 150px;
  }
  img {
    position: absolute;
    left: 100px;
    top: 100px;
  }
}
@media (max-width: 348px){
  * {
    font-family: Kumbh Sans;
    font-weight: 400;
  }
  body::before {
    content: '';
    background: url('assets/bg-pattern-top.svg');
    background-repeat: no-repeat;
    background-position: 80px;
    background-size: 1000px;
    height: 60vh;
    width: 100%;
    position: absolute;
    right: 11rem;
    top: -16rem;
    border-radius:500px;
    transform:rotate(25deg);
    z-index: -1;
  }
  body::after {
    content: '';
    background: url('assets/bg-pattern-bottom.svg');
    background-repeat: no-repeat;
    background-size: 650px;
    height: 343px;
    width: 45%;
    position: absolute;
    top:9.3rem;
    left:190px;
    z-index: -1;
  }
  .container {
    width: 300px;
    height: 380px;
  }
  .top-layer {
    background: url('assets/bg-pattern-card.svg');
    height: 150px;
  }
  img {
    position: absolute;
    left: 100px;
    top: 100px;
  }
}